:root{
    --primary-color:#c72727;
    --seconday-color:#f99500;
    --light-color:#f3f3f3;
    --dark-color:#333;
    --max-width: 1100px;
}
.category{
    --sports-color:#f99500;
    --ent-color:#a66bbe;
    --tech-color:#009cff;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 1.5rem;
    background: var(--light-color);
}
p{
    margin:0.5rem;
}
.card{
    background: white;
    padding: 1rem;
}
ul{
    list-style: none;
}
a{
    color: #333;
    text-decoration: none;
}
img{
    width:100%;
}
h1,h2,h3,h4,h5,h6{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.3;
    margin-bottom: .55rem;
}
.bg-dark{
    background:var(--dark-color)!important;
    color:white;

}

.bg-dark h1,.bg-dark h2,.bg-dark h3,.bg-dark a{
    color:white;
}
.bg-primary a.btn-dark{
    background:var(--dark-color)!important;
    color:white;

}
.bg-primary{
    background: var(--primary-color);
    color: white;

}
.bg-primary h1,.bg-primary h2,.bg-primary h3,.bg-primary a{
    color:white;
}
.bg-secondary{
    background: var(--secondary-color);
    color: white;

}
.py-2{
    padding: 2rem 0;
}
.p-1{
   padding: 1.5rem ;
}
.p-2{
    padding: 2rem ;
 }
 .p-3{
    padding: 3rem ;
 }

.container{
    margin:auto;
    overflow: hidden;
    max-width: var(--max-width);
    padding: 0 2rem;
}
.category{
    display:inline-block;
    color:white;
    font-size: 0.55rem;
    text-transform: uppercase;
    padding:0.4rem 0.6rem ;
    border-radius: 15px;
    margin-bottom: .5rem;
}
.category-sports{
    background: var(--sports-color);
}
.category-ent{
    background: var(--ent-color);
}
.category-tech{
    background: var(--tech-color);
}
.l-heading{
    font-size: 3rem;
}
.btn{
    display: inline-block;
    border: none;
    background: var(--dark--color);
    color:#fff;
    padding: 0.5rem 1.5rem;

}
.btn-light{
    background: var(--light-color);
}
.btn-primary{
    background: var(--primary-color);
}
.btn-secondary{
    background: var(--secondary-color);
}
.btn:hover{
    opacity:0.7;
}
.btn-block{
    display: block;
    width: 100%;
    text-align: center;
}
.lists li{
    padding:0.5rem;
    border-bottom: #555 dotted 1px;
    width:90%;
}
.lists li a:hover{
    color:var(--primary-color) !important;
}
.page-container{
    
    display:grid;
    grid-template-columns: 5fr 2fr;
    grid-gap: 1.5rem;
    margin: 2rem 0;
}
.page-container :first-child{
    grid-row: 1/span 3;
}


#main-nav{
    background: white;
    position: sticky;
    top: 0;
    z-index: 2;

}
#main-nav .container{
    display:grid;
    grid-template-columns: 6fr 3fr 2fr;
    padding: 1rem;
    align-items: center;
}
#main-nav .logo{
    width:180px;
}
#main-nav ul{
    justify-self: end;
    display: flex;
}
#main-nav ul li a{
    padding:.75rem;
    font-weight: bold;
}
#main-nav ul li a.current{
    background: var(--primary-color);
    color: white;
}
#main-nav ul li a:hover{
    background: var(--light-color);
    color:var(--dark--color);
}
#main-nav .social{
    justify-self: center;

}
#main-nav .social i{
    color: #777;
    margin-right: .5rem;
}
#showcase{
    color:white;
    background: #333;
    padding: 2rem;
    position: relative;

}
#showcase:before{
    content:'';
    background: url('../image_resources/featured.jpg') no-repeat center center/cover;
    position:absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    opacity: 0.4;
}
#showcase .showcase-container{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    height: 50vh;
    justify-content: center;
}
#showcase .showcase-content{
    z-index:2;
}
#showcase .showcase-content p{
    margin-bottom: 1rem;
}
#home-article .articles-container{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:1rem;
}
#home-article .articles-container >*:first-child,#home-article .articles-container >*:last-child{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap:1rem;
    align-items: center;
    grid-column: 1 / span 2;

}
#home-article .articles-container >*:last-child{
    grid-column: 2 / span 2;
}
#article .meta{
    display:flex;
    justify-content: space-between;
    align-items: center;
    background: #eee;
    padding: 0.5rem;
}
#article .meta .category{
    margin-top: 0.4rem;
}
#main-footer{
    background: var(--dark-color);
    color: white;
}
#main-footer img{
    width:150px;
}
#main-footer a{
    color:#fff;

}
#main-footer .footer-container{
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap:1.5rem;
}
#main-footer .footer-container>*:last-child{
    background: #444;
    grid-column: 1/span 4;
    padding: 0.5rem;
    text-align: center;
    font-size: 0.9rem;
}
#main-footer .footer-container input[type='email']{
    width:90%;
    padding:0.5rem;
    margin-bottom: 0.5rem;
}
#main-footer .footer-container input[type='submit']{
    width:90%;
}
@media(max-width:768px){
    #main-nav .social{
        display: none;
    }
    #main-nav .container{
        grid-template-columns: 1fr;
        grid-gap:1.2rem;
    }
    #main-nav ul,#main-nav logo{
        justify-self: center;
    }
    #main-nav ul li a{
        padding:0.5rem;
    }
    #home-article .articles-container{
        grid-template-columns: repeat(2,1fr);
    }
    #home-article .articles-container>*:first-child, #home-article .articles-container>*:last-child{
        grid-template-columns: 1fr;
        grid-column: 1;
    }
}

@media(max-width:600px){
    #showcase .showcase-container,#home-article .articles-container, #main-footer .footer-container{
        grid-template-columns: 1fr;
    }
    #main-footer .footer-container>*:last-child{
        grid-column: 1;
    }
    #main-footer .footer-container>*{
        border-bottom:#444 dotted 1px ;
        padding-bottom: 1rem;
    }
    #main-footer .footer-container >*:last-child,#main-footer .footer-container >*:nth-child(3),#main-footer .footer-container >*:nth-child(4){
        border:none;
    }
    .page-container{
        grid-template-columns: 1fr;
        text-align: center;
    }
    .page-container :first-child{
        grid-row: 1;
    }
    .l-heading{
        font-size: 1rem;
    }
    
}

